{
	"trailingComma": "all",
	"tabWidth": 4,
	"semi": false,
	"useTabs": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"printWidth": 150,
	"jsxSingleQuote": true,
	"plugins": ["prettier-plugin-tailwindcss", "@serverless-guru/prettier-plugin-import-order"],
	"tailwindFunctions": ["clsx", "twMerge", "cn"],
	"importOrderParserPlugins": ["typescript", "jsx"],
	"importOrder": ["^(pages?|routes?)/(.*)$", "^@/(.*)$", "^#/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderTypeImportsToTop": true,
	"importOrderMergeDuplicateImports": true,
	"importOrderNamespaceImportsToGroupTop": true
}
