@plugin "daisyui";

@theme {
	--font-title: 'Quicksand', 'sans-serif';
	--font-sans: 'Montserrat', 'sans-serif';

	--color-base-content-secondary: lightgray;
	--color-footer-text: lightgray;
	--color-bg-gradient-1: var(--color-neutral);
	--color-bg-gradient-2: var(--color-secondary);
	--color-bg-gradient-3: hsla(236, 23%, 76%, 0.3);

	--breakpoint-3xl: 120rem;
}

.bg-wifiqr-gradient {
	background-image:
		radial-gradient(circle at 50% 100%, var(--color-bg-gradient-1) 0%, transparent 60%),
		radial-gradient(circle at 50% 100%, var(--color-bg-gradient-2) 0%, transparent 70%),
		radial-gradient(circle at 50% 100%, var(--color-bg-gradient-3) 0%, transparent 80%);

	.bg-wifiqr-pattern-gradient {
		background-image:
			repeating-linear-gradient(
				22.5deg,
				transparent,
				transparent 2px,
				rgba(75, 85, 99, 0.06) 2px,
				rgba(75, 85, 99, 0.06) 3px,
				transparent 3px,
				transparent 8px
			),
			repeating-linear-gradient(
				67.5deg,
				transparent,
				transparent 2px,
				rgba(107, 114, 128, 0.05) 2px,
				rgba(107, 114, 128, 0.05) 3px,
				transparent 3px,
				transparent 8px
			),
			repeating-linear-gradient(
				112.5deg,
				transparent,
				transparent 2px,
				rgba(107, 114, 128, 0.05) 2px,
				rgba(107, 114, 128, 0.05) 3px,
				transparent 3px,
				transparent 8px
			),
			repeating-linear-gradient(
				157.5deg,
				transparent,
				transparent 2px,
				rgba(107, 114, 128, 0.05) 2px,
				rgba(107, 114, 128, 0.05) 3px,
				transparent 3px,
				transparent 8px
			);
	}
}

.text-gradient-bee {
	background: var(--color-secondary);
	background: radial-gradient(circle farthest-side at top left, var(--color-primary) 0%, var(--color-primary-content) 150%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
